<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>

<body>
    <% include templates/header %>

    <div class="container">
        <div class="panel panel-default">
            <div id="account-header" class="card mb-3">
                <div class="d-flex flex-nowrap row no-gutters">
                    <div class="col-md-1">
                        <img src="/stylesheets/icons/user.png" id="user-image" class="card-img" alt="user" style="width:100%;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body" id="accountHeader"></div>
                </div>
            </div>

                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#stories">Stories</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="events" class=""container tab-pane active><br></div>
                    <div id="stories" class=""container tab-pane active><br></div>
                </div>

        </div>
        <a onclick="signOut()" class="sign-out-btn" href="login">Sign out</a>
        <footer>
            <% include templates/footer %>
            <br>
        </footer>
    </div>
</body>

</html>