<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>

<!-- loads events and stories created by user from the indexedDB and displays them in the page -->
<body onload="loadAccount()">
    <% include templates/header %>
    <div class="container">
        <%#
        <form name="account" id="account" onload="document.account.submit()" method="post" onsubmit="return false">
            <input id="username" type="hidden" class="'form-control" name="username"/>
        </form>
        %>

        <!-- Account Heading -displays current user's username -->
        <div id="account-header story-content" class="card mb-3">
            <%#<div class="d-flex flex-nowrap row no-gutters">
                <div class="col-md-1">
                    <img src="/stylesheets/icons/user.png" id="user-image" class="card-img" alt="user" style="width:100%;">
                </div>
            </div>%>
            <div class="user">
                <div class="card-body user" id="accountHeader">
                    <h2 class="user"><%= user.username %>'s account</h2>
                </div>
            </div>
        </div>

        <!-- Nav pills -->
        <ul class="nav nav-pills events" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#stories">Stories</a>
            </li>
        </ul>
        <br>
        <!-- Tab panes -->
        <div class="tab-content events">
            <div id="events" class="container tab-pane active"><br>
            </div>
            <div id="stories" class="container tab-pane fade"><br>
            </div>
        </div>

        <div id="noEvent"></div>

        <!-- link for signing out takes to logout page -->
        <a class="sign-out-btn" href="/logout">Sign out</a>

        <footer>
            <% include templates/footer %>
            <br>
        </footer>
    </div>

</body>

</html>