<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>

</head>

<!-- initialises the indexedDB -->
<body onload="initDB()">

<% include templates/header %>

<div class="form-container">
    <div class="panel panel-default">
        <h2 class="photofestheading">Create Story</h2>
        <!-- form to create story -->
        <form id="story" onsubmit="onSubmit('/create-story', 'STORY_OS')">
            <div class="form-group fixed-event">
                <label for="event-name">For event: <a href="/view-event/<%=eventID%>"><%= eventTitle %></a></label>
                <input type="hidden" name="eventID" value="<%= eventID %>">
            </div>
            <div class="form-group">
                <label for="storyDescription">Description:</label>
                <input type="text" name="storyDescription"  class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" onchange="readURL(this);" class="form-control" id="formGroupExampleInput"/>
                <img id="usrImg" src="http://placehold.it/180" />
                <input type="hidden" id="bits" name="storyImage">
            </div>
            <div class="form-group">
                <input id="username" type="hidden" name="username">
            </div>
            <input type="submit" name="g" id="g" value="Submit" class="btn btn-info btn-md">
        </form>
    </div>
</div>
<footer>
    <% include templates/footer %>
</footer>
<br>


</body>

</html>