<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
    <script src="/javascripts/datePicker.js"></script>
    <!-- for the map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>

<!-- initialises the indexedDB -->
<body onload="initDB()">

    <% include templates/header %>
    <div style="display:none" id="alert">
    </div>
    <div class="form-container">
        <div class="panel panel-default">
            <h2 class="photofestheading">Create Event</h2>

            <!-- form to create an event -->
            <form id="myForm" onsubmit="onSubmit('/create-event', 'EVENT_OS')">
                <div class="form-group">
                    <label for="title">*Event Name:</label>
                    <input type="text" name="title" class="form-control" id="formGroupExampleInput">
                </div>

                <div class="form-group">
                    <label for="description">*Description:</label>
                    <input type="text" name="description"  class="form-control" id="formGroupExampleInput">
                </div>

                <div class="form-group"> <!-- Date input -->
                    <label class="control-label" for="date">*Date</label>
                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
                </div>

                <div class="form-group">
                    <label for="location">*Location:</label>
                    <div id="mapid" ></div>
                    <input id="lat" type="hidden" class="'form-control" name="latitude"/>
                    <input id="lon" type="hidden" class="'form-control" name="longitude"/>
                </div>

                <script src="/javascripts/map.js"></script>

                <input type="submit" name="g" id="g" value="Submit" class="btn btn-info btn-md">
            </form>
        </div>
    </div>

<footer>
    <% include templates/footer %>
</footer>
    <br>
</body>

</html>