<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>

</head>

<body onload="initDB()">

<% include templates/header %>

<div class="form-container">
    <div class="panel panel-default">
        <h2 class="photofestheading">create story</h2>

        <form id="storyForm" onsubmit="onSubmit('/create-story', 'STORY_OS')">
            <div class="form-group fixed-event">
                <label for="title"><a href="view-event">Event:</a></label>
                <input type="text" name="title" value="<%= eventName %>"  class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
                <label for="storyDescription">Description:</label>
                <!--<textarea class="form-control" rows="3"></textarea>-->
                <input type="text" name="storyDescription"  class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
                <label for="storyLocation">Location:</label>
                <input type="text" name="storyLocation"  class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" name="image"  class="form-control" id="formGroupExampleInput">
            </div>
            <input type="submit" name="g2" id="g2" value="Submit" class="btn btn-info btn-md">
        </form>
    </div>
</div>
<footer>
    <% include templates/footer %>
</footer>
<br>


</body>

</html>