<!DOCTYPE html>
<html>
<head>
    <% include templates/head %>
</head>
<body onload="loadEvents()" >

<% include templates/header %>

<div class="search">
    <form id="searchForm" onsubmit="onSearch()">
        <div class="form-group">
            <input class="form-control" id="eventName" name="eventName" type="text" placeholder="Event Name" aria-label="Keyword">
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Advanced Search</a>
                    </p>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Date</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                    <div class="panel-footer">
                        <img src="/stylesheets/icons/pin.png" alt="home" style="width:40px;">
                        <a href="map" class="btn btn-outline-dark" role="button">Display Map</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <input type="submit" name="search" id="search" value="Search" class="btn btn-info btn-md">
    </form>
</div>

<div class="content" id = "events">
    <p id="noEvent"></p>
</div>

<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

<footer>
    <% include templates/footer %>
</footer>


</body>
</html>
