<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>
<!-- sends the user to login page -->
<body>
<% include templates/header %>

<div class="content">
    <p>Incorrect username or password. Please try <a href="/login">logging in</a> again.</p>
</div>

<footer>
    <% include templates/footer %>
</footer>

</body>

</html>