<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>

<!-- showing the events as pins on the map -->
<body>
    <% include templates/header %>
    <script src="/javascripts/mapSearch.js"></script>
    <input id="events" type="hidden" class="'form-control" name="events" value="<%events%>"/>
    <div id="mapid"></div>
    <div class="content" id = "events" >
        <%for (var i=events.length-1; i>= 0; i--) {%>
            <a href='/view-event/<%= events[i].id %>' class='list-group list-group-item-action'>
                <p><%=events[i].title%></p>
                <p><%=events[i].description%></p>
                <p><%=events[i].date%></p>
            </a>
        <% }%>
        <p id="noEvent"></p>
    </div>

    <footer>
    <% include templates/footer %>
    </footer>

</body>

</html>