<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>
<!-- sends the user to login page -->
<body>
    <% include templates/header %>
    <div class="offline_div" id="offline_div" style="color: darkred; display: none">You are offline</div>
    <div class="content">
        <p>Please <a href="/login">log in</a> to continue.</p>
    </div>

    <footer>
        <% include templates/footer %>
    </footer>

</body>

</html>