<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>

<body>

    <% include templates/header %>
    <div class="offline_div" id="offline_div" style="color: darkred; display: none">You are offline</div>
    <p>This page is not accessible while offline!</p>

    <footer>
        <% include templates/footer %>
    </footer>

</body>

</html>