<!DOCTYPE html>
<html>
<head><% include templates/head %></head>
<!--<body onload="initRoom();">-->
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="../javascripts/test.js"></script>
<!--<h1 id="roomNo"></h1>
<div>
    <div id="chat"></div>
    <form action="" onsubmit="return sendText()">
        <input id="text" autocomplete="off" autofocus/>
        <button onclick="setNotification()">Send</button>
    </form>
</div>-->
<button class="btn btn-outline-dark" onclick="setNotification()">Send</button>
</body>
</html>