<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../javascripts/comment.js"></script>
    <% include templates/head %>
</head>

<!-- displays stories for clicked event -->
<body>
<% include templates/header %>

<div class="container">
    <h3 class="title"><%= story.username%>'s story</h3>
    <br>

    <div class="list-group list-group-item stories" id="stories">
        <div  class='list-group stories'>
            <p>Description: <%=story.storyDescription%></p>
            <img src='<%= story.storyImage%>' id='testImg'>
                <br>
                <div class="comment">
                    <div id="comments"></div>

                    <div id="username" style="display: none">
                        <% if (typeof user != 'undefined') { %>
                            <%=user.username%>
                        <% } %>
                    </div>

                    <!-- Display comment form if user is logged in -->
                    <% if (typeof user != 'undefined') { %>
                        <form action="" onsubmit="return sendComment()">
                            <input id="comment" type="text" class="form-group rounded usercomment" placeholder="Comment..." aria-label="Comment..." aria-describedby="basic-addon2">
                            <button class="btn btn-md"><img src="/stylesheets/icons/send-button.png" style="width:30px; height:30px" title="Send" alt="Send"></button>
                        </form>
                    <% } %>

                </div>
        </div>
    </div>

    <footer>
        <% include templates/footer %>
    </footer>
</div>



</body>

</html>