<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>

<body>
    <% include templates/header %>

    <div class="story-content ">
        <h3 class="title"><a href="create-story"><img class="story-icon" src="/stylesheets/icons/plus.png"></a><%= eventName %></h3>
        <br>

        <div class="list-group list-group-item">
            <p>Story Name</p>
            <p>Story Description</p>
            <p>Story Author</p>
            <p>Story Date</p>
        </div>

        <footer>
            <% include templates/footer %>
        </footer>
    </div>



</body>

</html>