<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>

<!-- displays stories for clicked event -->
<body onload="loadStories(<%= eventID%>)">
    <% include templates/header %>

    <div class="story-content ">
        <h3 class="title"><a href="/create-story/<%= eventID%>"><img class="story-icon" src="/stylesheets/icons/plus.png"></a><%= eventID %></h3>
        <br>

        <div class="list-group list-group-item stories" id="stories">
        </div>
        <footer>
            <% include templates/footer %>
        </footer>
    </div>



</body>

</html>