<title>PhotoFest</title>
<meta charset="utf-8">

<!-- STYLESHEETS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/stylesheets/style.css'/>
<link rel="stylesheet" href='/stylesheets/bootstrap-datepicker3.css'/>
<link rel="stylesheet" href='/stylesheets/bootstrap.min.css'/>

<!-- JAVASCRIPTS -->
<script src="/javascripts/app.js"></script>
<script src="/javascripts/database.js"></script>
<script src="/javascripts/idb.js"></script>
<script src="/javascripts/create-event.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/datePicker.js"></script>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="/javascripts/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!-- Bootstrap Date-Picker Plugin -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>-->
