<div class="top-container">
    <br>
    <br>
</div>

<div class="title" id="myHeader">
    <h2 id="title" >
        <a href="/" style="text-decoration : none; color : black;">
            <%= title %>
        </a>
    </h2>
</div>
