body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
    width: 100%;
    padding-top: 350px;
}

#heading {
    background-color: #F97A61;
    color: floralwhite;
    text-align: center;
    width: 100%;
    transition: 0.2s;
    position: fixed;
    top: 0;
}

#title {
    font-size: 90px;
}