body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.top-container {
    /*position: sticky; /*this one works for some reason? */
    padding: 10px;
    font-size: 24px;
    color: floralwhite;
    text-align: center;
    /*top: 0;*/
    max-width: 100%;
    background: #f8f9fa;
    background-image: url("icons/drink.png"), url("icons/electric-keyboard.png"), url("icons/ferris.png"),
    url("icons/guitar.png"), url("icons/ice-cream.png"), url("icons/microphone.png"), url("icons/stage.png"),
    url("icons/tickets.png"), url("icons/camera.png"), url("icons/shirt.png"), url("icons/beer.png"),
    url("icons/speaker.png"), url("icons/drums.png"), url("icons/heavy-metal.png"), url("icons/screen.png"),
    url("icons/spotlight.png"), url("icons/vinyl.png"), url("icons/vip.png"), url("icons/microphone2.png");
    background-position: 25px 25px, 100px 25px, 175px 25px, 250px 25px, 325px 25px, 400px 25px, 475px 25px,
    550px 25px, 625px 25px, 700px 25px, 775px 25px, 850px 25px, 925px 25px, 1000px 25px, 1075px 25px,
    1150px 25px, 1225px 25px, 1300px 25px, 1375px 25px;
    background-repeat: no-repeat;
    background-size: 50px;
}
.title {
    background: #ffffff;
    color: black;
    text-align: center;
    max-width: 100%;
}

#title {
    font-size: 55px;
    font-family: Optima, sans-serif;
    padding: 10px;
}

.search{
    margin: 20px;
    padding: 30px;
    background: #f8f9fa;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.search-icon {
    background-image: url("icons/search.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 25px;

}

.content {
    margin: 20px;
    padding: 30px;
    padding-bottom: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .search{
    padding-top: 102px;
}

#inp {
    padding-left: 35px;
}

#date {
    width: 120px;
}

.add-space {
    padding: 5px;
}

#account-header {
    border: none;
}

#user-image {
    justify-content: center;
    max-width: 100px;
}

.some-padding {
    padding: 30px;
}

.photofestheading {
    font-family: Optima, sans-serif;
    text-align: center;
}
.form-container {
    margin: auto;
    padding: 30px;
    padding-bottom: 45px;
    max-width: 70%;
    background: #f8f9fa;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.story-icon {
    float:left;
    width: 50px;
    height: 50px;
}

.event-title {
    text-align: center;
}

.story-content {
    border-top: 1px solid lightgray;
    margin: 20px;
    padding: 30px;
    padding-bottom: 45px;
}

.fixed-event {
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    color: #1b1e21;
    border-radius: 4px;
    background-color: lavender;
}
 .signup {
     margin: auto;
 }

 .sign-out-btn {
     padding: 10px;
     margin: auto;
     text-align: right;
     width: 50%;
     display: inline-block;
 }

#mapid { height: 280px; }

.stories {
    padding: 10px;
    position: relative;
    border-bottom: solid 2px lightgray;
}

.comment {
    border-radius: 5px;
}
.usercomment {
    padding: 5px;
    width: 70%;
}

.camera {
    margin:auto;
}

.story-comment {
    background-color: rgb(245,245,245);
    border: solid 1px rgb(220,220,220);
    padding: 3px;
    line-height: 30px;
    width: 70%;
}